html {
    height: 100%;
    background-color: #282a36;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div#startpage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #f8f8f2;
        font-family: 'Fira Code';
        margin-bottom: 150pt;

        h1.clock {
            font-size: 45pt;
        }

        div#shortcuts {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            div.shortcut {
                background-color: #44475a;
                border-radius: 5pt;
                padding: 10pt;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100pt;
                height: 100pt;
                margin: 0pt 15pt;

                .title {
                    font-size: larger;
                    margin-bottom: 7pt;
                }

                #media {
                    color: #8be9fd;
                }

                #social {
                    color: #f1fa8c;
                }

                #coding {
                    color: #ff79c6
                }

                #uni {
                    color: #50fa7b;
                }
            }
        }

        a {
            color: #bd93f9;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}